%h3 Viewing segment #{@segment.id}

.row
  .col-xs-12
    %table.table
      %thead
        %th id
        %th city_geo_id
        %th city_lfn_id
        %th full_street_name
        %th bikeway_type
      %tbody
        %td= @segment.id
        %td= @segment.city_geo_id
        %td= @segment.city_linear_feature_name_id
        %td= @segment.full_street_name
        %td= @segment.bikeway_type

.row
  .col-xs-12.col-md-2
    = link_to prev_bikeway_segment_path(@segment.id), class: "btn btn-default btn-lg wide" do
      %span.glyphicon.glyphicon-chevron-left
      Prev

  .col-xs-12.col-md-8
    .google-map-canvas
      #map{data: { kml_url: @kml_url }}

  .col-xs-12.col-md-2
    = link_to next_bikeway_segment_path(@segment.id), class: "btn btn-default btn-lg wide" do
      Next
      %span.glyphicon.glyphicon-chevron-right

%script{src: '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry'}
%script{src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'}

