%h3 Viewing segment #{@segment.id}

%table.table
  %thead
    %th id
    %th city_geo_id
    %th city_lfn_id
    %th full_street_name
    %th length
  %tbody
    %td= @segment.id
    %td= @segment.city_geo_id
    %td= @segment.city_linear_feature_name_id
    %td= @segment.full_street_name
    %td= "unknown"

.google-map-canvas
  #map

%script{src: '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry'}
%script{src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'}